#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/andrea.jpg") left 50% bottom 80% / cover no-repeat border-box
      fixed,
    #ff1b68;
  /* background-image: url("andrea.jpg");
  background-size: cover;
  background-position: left 10% bottom 80%; */
  /* background-repeat: no-repeat; */
  /* background-origin: border-box; */
  /* background-clip: border-box; */
  /* background-attachment: fixed; */
  /* background-image: linear-gradient(
    180deg,
    red 70%,
    blue 80%,
    rgba(0, 0, 0, 0.5)
  ); */
  /* background-image: radial-gradient(
    ellipse farthest-corner at 20% 50%,
    red,
    blue 70%,
    green
  ); */
  width: 100%;
  /* height: 528px; */
  height: 60vh;
  /* border: 5px dashed white; */
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  /* margin: 0; */
  font-size: 1.6rem;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0 2rem;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.6rem;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 40%;
  margin: auto;
  min-width: 12rem;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #6b6a6a;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.key-feature {
  margin: 1rem 0;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

/* Pseudo Element */

p::first-letter {
  color: #d5ffdc;
  font-size: 1.4rem;
  font-weight: bold;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: white;
  padding: 2rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

@media (min-width: 40rem) {
  #product-overview {
    height: 85vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }

  .key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    max-width: 25rem;
    margin: 0;
  }

  .modal {
    max-width: 30%;
  }

  .modal__title {
    font-size: 1.5rem;
  }
}

@media (min-width: 40rem) and (min-height: 48rem) {
  #product-overview {
    height: 85vh;
    background-position: left 50% bottom 0;
  }
}

@media (min-width: 40rem) and (orientation: landscape) {
  #product-overview {
    height: 100vh;
    background-position: left 50% bottom 100%;
  }

  .plan__list {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan {
    width: 30%;
    margin: 0.5rem;
    min-width: 12rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 50;
  }

  .plan__annotation {
    min-width: 10rem;
    font-size: 1rem;
  }
}
